body {
  background-color: white;
}

.mama {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exam-container {
  display: flex;
  justify-content: space-between;
}

.questions-container {
  flex: 2;
}

.question-container {
  display: none;
}

.question__btn {
  display: none;
}

.questions-container h3 {
  background-color: #ffc146;
  padding: 20px;
  color: white;
  font-size: larger;
  border-radius: 5px;
}
li {
  list-style: none;
  border-radius: 5px;
  background-color: lightgray;
  width: auto;
  height: 35px;
  padding-top: 7px;
  margin: 15px;
}

.flagged-questions-container {
  border-radius: 15px;
  color: whitesmoke;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  /* display: none; */
  padding: 15px;
  background-color: #ed2553;
  flex: 1;
}

.flagged-question {
  border-radius: 15px;
  background-color: #ffc146;
  padding: 10px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.flagged-question:hover {
  transform: scale(1.05);
  transition: transform 0.1s;
}

.question__prev-btn,
.question__btn {
  outline: 0;
  cursor: pointer;
  width: auto;
  border: 1px solid #ffc146;
  padding: 20px;
  font-weight: bolder;
  transition: 0.3s ease;
  margin: 100px;
}


.timer-container {
    display: none;
    align-items: center;
    margin-bottom: 20px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    height: 20px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: #76c7c0;
    width: 100%;
    transition: width 1s linear;
}

.timer-text {
    font-size: 18px;
    font-weight: bold;
}

.results-container{
    display: none;
}