/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.exam-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 95%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.questions-container {
  flex: 1;
  padding: 20px;
  background-color: #f9fafc;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.question-container {
  display: none;
}

.question-body {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.answers {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.answers li {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answers li:hover {
  background-color: #e0f7fa;
}

.answers li.selected {
  background-color: #b2ebf2;
}

.answers li label {
  flex-grow: 1;
}

/* Remove radio button circle */
.answers li input[type="radio"] {
  display: none;
}

.question__btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.question__prev-btn {
  background-color: #ff8a80;
  color: white;
}

.question__prev-btn:hover {
  background-color: #ff5252;
}

.question__next-btn {
  background-color: #8bc34a;
  color: white;
}

.question__next-btn:hover {
  background-color: #4caf50;
}

.question__flag-btn {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  transition: all 0.4s;
}

.question__flag-btn:hover {
  background-color: orange;
  color: white;
}

/* Styling flagged questions section */
.flagged-questions-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; /* Enable scrolling if content overflows */
}

.flagged-questions-container h3 {
  margin-bottom: 20px;
}

.flagged-question {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.flagged-question:hover {
  background-color: #e0f7fa;
  transform: translateY(-2px);
}

/* FadeIn Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .exam-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
  
  .questions-container {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .flagged-questions-container {
    width: 100%;
  }
  
  .answers {
    grid-template-columns: 1fr;
  }
  
  .question-body {
    font-size: 1.2em;
  }
}

.timer-container {
  display: none;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  height: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  width: 100%;
  transition: width 1s linear;
}

.timer-text {
  font-size: 18px;
  font-weight: bold;
}

.results-container {
  display: none;
}

.cont {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.card .button-container button {
  border-color: #ed2553;
}

.card .button-container button span {
  color: #ed2553;
}

.card .button-container button:hover {
  background-color: #ed2553;
}

.card .button-container button:hover span {
  color: white;
}

.welcome-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  color: #ed2553;
  text-align: center;
}
