.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome-container h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 20px;
}

.card.cont {
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  border-radius: 15px;
  cursor: pointer;
  background: 0;
  border: 2px solid #1679ab;
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1679ab;
  transition: all 0.5s;
}

.button-container button:hover {
  background-color: #1679ab;
  color: white;
}

.backgroundimg {
  position: fixed;
  right: 0%;
  z-index: -1;
  width: 45%;
  bottom: 0;
}

.timer-container {
  display: none;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
}

.progress-bar {
  width: 90%;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  width: 100%;
  height: 10px;
  background: #5e7d8f;
  transition: width 0.5s linear;
}

.timer-text {
  font-size: 25px;
  background-color: #5e7d8f;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.exam-container {
  display: none;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.questions-container {
  flex: 3;
  padding: 20px;
  background-color: #f9fafc;
  border: 1px solid #1679ab;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  min-width: 750px;
  height: 365px;
}

.question-container {
  display: none;
  border: 1px solid #1679ab;
  border-radius: 5px;
  margin-right: 10px;
}

.questions-container h3 {
  padding: 20px;
  margin: 10px;
  color: #1679ab;
  font-size: 20px;
}

.answers {
  list-style: none;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.answers li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answers li:hover {
  background-color: #e0f7fa;
}

.answers li.selected {
  background-color: #b2ebf2;
}

.answers li label {
  flex-grow: 1;
}

/* Remove radio button circle */
.answers li input[type="radio"] {
  display: none;
}

.question__btn {
  background-color: #1679ab;
  color: white;
  cursor: pointer;
  border: 1px solid #1679ab;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  width: 150px;
}

.question__flag-btn {
  background-color: #5e7d8f;
  color: white;
  margin-left: auto;
}

.btn-disabled {
  cursor: not-allowed;
  background-color: white;
  color: gray;
}

.exam__btns-container {
  display: flex;
}

.submit-btn-container{
  display: flex;
  justify-content: center;
}

.exam__submit-btn {
  background-color: #54BBF0;
  color: black;
  border: none;
}

.flagged-questions-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #1679ab;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  min-width: 285px;
}

.flagged-question {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #1679ab;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.flagged-question:hover {
  background-color: #e0f7fa;
  transform: translateY(-2px);
}
